<% topics.each do |topic| %>
  <div class="mini-topic-box">
    <div class="d-flex mt-3 p-3">
      <%= link_to profile_artist_artist_user_path(topic.artist_user_id) do %>
        <div class="ml-2">
          <%= image_tag topic.artist_user.profile_image, class: "mini-topic-profile-image" %><br>
          <p class="text-center text-white mt-2"><%= topic.artist_user.artist_name %></p>
        </div>
      <% end %>
      <div class="ml-5 d-flex align-items-center flex-fill">
        <% if artist_user_signed_in? %>
          <%= link_to artist_topic_path(topic) do %>
            <%= simple_format topic.body, class: "text-white" %>
          <% end %>
        <% elsif public_user_signed_in? %>
          <%= link_to public_topic_path(topic) do %>
            <%= simple_format topic.body, class: "text-white" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>