<div class="mt-3">
  <h3 class="text-white">Artists <span class="h5">(<%= artist_users.active.total_count %> 件)</span></h3>
</div>

<!--Artist絞り込み検索フォームの設置-->
<div class="search-form p-3 col-md-10">
  <!--Artist会員がログインしている場合-->
  <% if artist_user_signed_in? %>
    <%= form_with(scope: :search, url: search_artist_artist_users_path, method: :get, local: true) do |f| %>
      <div class="field">
        <%= f.label :artist_name, "アーティスト名", class: "text-white col-2" %>
        <%= f.text_field :artist_name, value: @search_params[:artist_name], placeholder: 'Search' %>
      </div>
      <div class="field">
        <%= f.label :genre_id, "ジャンル選択", class: "text-white col-2" %>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, selected: @search_params[:genre_id], include_blank: t('helpers.select.全て')) %>
      </div>
      <div class="field">
        <%= f.label :activity_location, "エリアを選択", class: "text-white col-2" %>
        <%= f.select :activity_location, ArtistUser.activity_locations_i18n.invert, selected: @search_params[:activity_location], include_blank: t('helpers.select.全て') %>
        <div class="text-center">
          <%= f.submit "検索", class: "btn btn-success btn-green col-5" %>
        </div>
      </div>
    <% end %>
  <!--一般会員がログイン中、または非ログイン時の場合-->
  <% else %>
    <%= form_with(scope: :search, url: search_public_artist_users_path, method: :get, local: true) do |f| %>
      <div class="field">
        <%= f.label :artist_name, "アーティスト名", class: "text-white col-2" %>
        <%= f.text_field :artist_name, value: @search_params[:artist_name], placeholder: 'Search' %>
      </div>
      <div class="field">
        <%= f.label :genre_id, "ジャンル選択", class: "text-white col-2" %>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, selected: @search_params[:genre_id], include_blank: t('helpers.select.全て')) %>
      </div>
      <div class="field">
        <%= f.label :activity_location, "エリアを選択", class: "text-white col-2" %>
        <%= f.select :activity_location, ArtistUser.activity_locations_i18n.invert, selected: @search_params[:activity_location], include_blank: t('helpers.select.全て') %>
        <div class="text-center">
          <%= f.submit "検索", class: "btn btn-success btn-green col-5" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!--Artist一覧の表示-->
<div class="row">
  <div class="col-md-12">
    <div class="row">
    <% artist_users.each do |artist| %>
      <div class="col-md-3 m-3 mini-profile-box">
          <div class="row">
            <!--ヘッダー画像の表示-->
            <div class="col-md-12 mini-profile-header-box">
              <%= image_tag artist.get_header_image, class: "mini-profile-header" %>
            </div>
            <!--プロフィール画像の表示-->
            <div class="col-md-12 text-center">
              <div class=""><%= image_tag artist.get_profile_image, class: "mini-profile-box-image rounded-circle"; %></div>
            </div>
            <div class="mini-profile-detail col-md-12">
              <!--ログインユーザーがArtist会員の場合のプロフィールページへ遷移するリンクの設置-->
              <% if artist_user_signed_in? %>
                <div class="col-md-12 text-center">
                  <%= link_to profile_artist_artist_user_path(artist.id) , class: "text-white" do %>
                    <%= artist.artist_name %>
                  <% end %>
                </div>
              <!--ログインユーザーが一般会員の場合のプロフィールページへ遷移するリンクの設置-->
              <% else %>
                <div class="col-md-12 text-center">
                  <%= link_to profile_public_artist_user_path(artist.id) , class: "text-white" do %>
                    <%= artist.artist_name %>
                  <% end %>
                </div>
              <% end %>
              <div class="col-md-12 text-center">
                <!--Artist会員がジャンルを設定しているかどうかの判断-->
                <% if artist.genre.present? %>
                  <span class="text-white">Genre: <%= artist.genre.name %></span><br>
                <% else %>
                  <span class="text-white">Genre: 未設定</span><br>
                <% end %>
                <!--活動エリアの表示-->
                <span class="text-white"><%= artist.activity_location_i18n %></span>
                <!--フォロワーの数の表示-->
                <div class="follow-detail-display" id="follower-count-a-<%= artist.id %>">
                  <p>Follower：<%= artist.artist_reverse_of_relationships.follower_count %></p>
                </div>
              </div>
              <!--紹介文の表示-->
              <div class="introduction-box">
                <div class="col-md-12 text-white introduction-box-detail">
                  <!--紹介文が存在するかどうかの判断-->
                  <% if artist.introduction.present? %>
                    <p><%= simple_format artist.introduction %></p>
                  <% else %>
                    <p class="m-3">自己紹介文は登録されてません.</p>
                  <% end %>
                </div>
              </div>
              <!--ログインユーザーがArtist会員の場合で、かつ、対象ユーザーがログイン中のユーザーではない場合にフォローボタンを表示させる-->
              <% if artist_user_signed_in? && current_artist_user.id != artist.id %>
                <div class="col-md-12 text-center mt-3" id="follow-ajax-a-<%= artist.id %>">
                  <!--フォローしているかどうかの判断-->
                  <% if current_artist_user.artist_following?(artist) %>
                    <%= render 'artist/relationships/artist_unfollow_button', artist: artist %>
                  <% else %>
                    <%= render 'artist/relationships/artist_follow_button', artist: artist %>
                  <% end %>
                </div>
              <!--ログイン中のユーザーが一般会員の場合のフォローボタンの表示-->
              <% elsif public_user_signed_in? %>
                <div class="col-md-12 text-center mt-3" id="follow-ajax-a-<%= artist.id %>">
                  <!--フォローしているかどうかの判断-->
                  <% if current_public_user.artist_following?(artist) %>
                    <%= render 'public/relationships/artist_unfollow_button', artist: artist %>
                  <% else %>
                    <%= render 'public/relationships/artist_follow_button', artist: artist %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
       </div>
    <% end %>
    </div>
  </div>

  <!--ページネーションの表示-->
  <div class="col-md-10 d-flex justify-content-center mt-5">
    <div>
      <%= paginate artist_users %>
    </div>
  </div>

</div>