<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3 d-flex">
      <%= render 'artist/artist_users/my_page', artist_user: @artist_user %>
    </div>

    <div class="col-lg-9">

      <div>
        <h3 class="text-white">My Topics</h3>
      </div>
      <% @topics.each do |topic| %>
        <div class="mini-topic-box">
          <div class="d-flex mt-3 p-3">
            <div class="ml-2">
              <%= image_tag topic.artist_user.profile_image, class: "mini-topic-profile-image" %><br>
              <p class="text-center text-white mt-2"><%= topic.artist_user.artist_name %></p>
            </div>
            <div class="ml-5 d-flex align-items-center flex-fill">
              <%= link_to artist_topic_path(topic) do %>
                <%= simple_format topic.body, class: "text-white" %>
              <% end %>
            </div>
          </div>
          <div class="flex-fill text-right mr-4 pb-2">
            <%= link_to "編集", edit_artist_topic_path(topic), class: "btn btn-follow btn-success mr-3" %>
            <%= link_to "削除", artist_topic_path(topic), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-follow btn-success" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
