<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <%= image_tag @artist_user.get_profile_image %>
      </div>
      <div class="row">
        <%= @artist_user.artist_name %>
      </div>
      <div class="row">
        <p class="text-white"><%= @artist_user.genre.name %></p>
        <%= link_to "ジャンルを変更する", artist_genres_path %>
      </div>
      <div class="row">
        <%= link_to "登録情報編集", information_edit_artist_artist_users_path %>
      </div>
    </div>
  </div>
</div>
