<div class="container">
  <div class="row mt-3">
    <!--マイページサイドバーの表示-->
    <div class="col-lg-3 d-flex">
      <%= render 'artist/artist_users/my_page', public_user: @public_user %>
    </div>

    <div class="col-lg-9">
      <div>
        <h3 class="text-white">Follower</h3>
      </div>
      <!--フォロワーが存在するか判断-->
      <% if @followers.present? %>
      <!--フォロワー一覧の表示-->
      <div class="row">
        <div class="col-md-12">
          <div class="row">
          <% @followers.each do |follower| %>
            <!--フォロワーのユーザーがArtist会員の場合の表示-->
            <% if follower.artist_follower_id.present? %>

              <div class="col-md-3 m-3 mini-profile-box">
                <div class="row">
                  <!--ヘッダー画像-->
                  <div class="col-md-12 mini-profile-header-box">
                    <%= image_tag follower.artist_follower.get_header_image, class: "mini-profile-header" %>
                  </div>
                  <!--プロフィール画像-->
                  <div class="col-md-12 text-center">
                    <div class=""><%= image_tag follower.artist_follower.get_profile_image, class: "mini-profile-box-image rounded-circle"; %></div>
                  </div>
                  <!--Artistプロフィールページへ遷移するリンクをArtist名に設置-->
                  <div class="mini-profile-detail col-md-12">
                    <div class="col-md-12 text-center">
                      <%= link_to profile_public_artist_user_path(follower.artist_follower.id) , class: "text-white" do %>
                        <%= follower.artist_follower.artist_name %>
                      <% end %>
                    </div>
                    <div class="col-md-12 text-center">
                      <!--ジャンル登録がされているか判断-->
                      <% if follower.artist_follower.genre.present? %>
                        <span class="text-white">Genre: <%= follower.artist_follower.genre.name %></span><br>
                      <% else %>
                        <span class="text-white">Genre: 未設定</span><br>
                      <% end %>
                      <!--拠点エリアの表示-->
                      <span class="text-white"><%= follower.artist_follower.activity_location_i18n %></span>
                      <!--フォロワーの表示-->
                      <div class="follow-detail-display">
                        <p>Follower：<%= follower.artist_follower.artist_reverse_of_relationships.follower_count %></p>
                      </div>
                    </div>
                    <!--紹介文の表示-->
                    <div class="introduction-box">
                      <div class="col-md-12 text-white introduction-box-detail">
                        <!--紹介文が存在するか判断-->
                        <% if follower.artist_follower.introduction.present? %>
                          <p><%= simple_format follower.artist_follower.introduction %></p>
                        <% else %>
                          <p class="m-3">自己紹介文は登録されてません.</p>
                        <% end %>
                      </div>
                    </div>
                    <!--フォローボタンの表示-->
                    <div class="col-md-12 text-center mt-3">
                      <!--フォローをしているかの判断-->
                      <% if current_public_user.artist_following?(follower.artist_follower) %>
                        <%= link_to "- Unfollow", public_artist_user_relationships_path(follower.artist_follower.id), method: :delete, class: "btn btn-red btn-danger btn-lg" %>
                      <% else %>
                        <%= link_to "+ Follow", public_artist_user_relationships_path(follower.artist_follower.id), method: :post, class: "btn btn-follow btn-success btn-lg" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

            <!--フォロワーのユーザーが一般会員の場合の表示-->
            <% elsif follower.public_follower_id.present? %>

              <div class="col-md-3 m-3 mini-profile-box">
                <div class="row">
                  <div class="col-md-12 mini-profile-header">

                  </div>
                  <!--プロフィール画像-->
                  <div class="col-md-12 text-center">
                    <div class=""><%= image_tag follower.public_follower.get_profile_image, class: "mini-profile-box-image rounded-circle"; %></div>
                  </div>
                  <div class="mini-profile-detail col-md-12">
                    <!--一般会員詳細画面へ遷移するリンクをニックネームに設置-->
                    <div class="col-md-12 text-center">
                      <%= link_to public_public_user_profile_path(follower.public_follower.id) , class: "text-white" do %>
                        <%= follower.public_follower.nickname %>
                      <% end %>
                    </div>
                    <!--フォロワーの表示-->
                    <div class="follow-detail-display text-center">
                      <p>Follower：<%= follower.public_follower.public_reverse_of_relationships.follower_count %></p>
                    </div>
                    <div class="col-md-12 text-center">
                      <span class="text-white"></span></span>
                    </div>
                    <!--自己紹介文の表示-->
                    <div class="introduction-box-2">
                      <div class="col-md-12 text-center text-white introduction-box-detail">
                        <!--自己紹介文が存在するか判断-->
                        <% if follower.public_follower.introduction.present? %>
                          <p><%= simple_format follower.public_follower.introduction %></p>
                        <% else %>
                          <p class="m-3">自己紹介文は登録されてません.</p>
                        <% end %>
                      </div>
                    </div>
                    <!--フォローボタンの表示-->
                    <div class="col-md-12 text-center mt-3">
                      <!--フォローをしているか判断-->
                      <% if current_public_user.public_following?(follower.public_follower) %>
                        <%= link_to "- Unfollow", public_public_user_relationships_path(follower.public_follower.id), method: :delete, class: "btn btn-red btn-danger btn-lg" %>
                      <% else %>
                        <%= link_to "+ Follow", public_public_user_relationships_path(follower.public_follower.id), method: :post, class: "btn btn-follow btn-success btn-lg" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          </div>
        </div>

        <!--ページネーションの表示-->
        <div class="col-md-10 d-flex justify-content-center mt-5">
          <div>
            <%= paginate @followers %>
          </div>
        </div>
      </div>

      <!--フォロワーが存在しない場合-->
      <% else %>
        <p class="text-white mt-3">あなたをフォローしているユーザーはいません。</p>
      <% end %>
    </div>
  </div>
</div>
