<div class="container">
  <div class="row mt-3">
    <!--My pageサイドバーの表示-->
    <div class="col-lg-3 d-flex">
      <%= render 'artist/artist_users/my_page', artist_user: @artist_user %>
    </div>

    <div class="col-lg-9 mt-3">
      <div>
        <h3 class="text-white">Messages</h3>
      </div>

      <% if @another_joins.present? %>
      <!--やり取りしているDMルーム一覧の表示-->
      <div class="dm-index-box p-3 mt-3">
        <% @another_joins.each do |join| %>
          <!--やり取りの相手が一般会員で、かつ、退会していないユーザーの場合の表示-->
          <% if join.public_user.present? && join.public_user.is_deleted == false %>
            <table class="table table-borderless">
              <tr>
                <td class="col-1"><%= image_tag join.public_user.profile_image, class: "dm-box-image" %></td>
                <td class="align-middle col-3">
                  <%= link_to artist_public_user_path(join.public_user.id), class: "text-white border-bottom" do %>
                    <%= join.public_user.nickname %>
                  <% end %>
                </td>
                <td class="align-middle col-4">
                  <!--メッセージが存在するか判断-->
                  <% if Message.find_by(id: join.room.message_ids.last)&.content.present? %>
                    <%= link_to rooms_artist_artist_users_path(join.room), class: "text-white dm-index-content-box" do %>
                      <%= Message.find_by(id: join.room.message_ids.last)&.content %>
                    <% end %>
                  <!--存在しない場合のテキスト表示-->
                  <% else %>
                    <span class="text-white-50">表示できるメッセージがありません。</span>
                  <% end %>
                </td>
                <td class="text-white text-right align-middle">
                  <!--取得したRoom内での最後のメッセージが存在するかどうかの判断。(DMのRoomを新しく作成した後、メッセージを何も送らずにRoom一覧を開くとエラーになるため記述)-->
                  <% if Message.find_by(id: join.room.message_ids.last).present? %>
                    <%= Message.find_by(id: join.room.message_ids.last)&.created_at.strftime("%Y-%m-%d %H:%M") %>
                  <% end %>
                </td>
              </tr>
            </table>
          <!--やり取りしている相手がArtist会員で、かつ、退会していないユーザーの場合の表示-->
          <% elsif join.artist_user.present? && join.artist_user.is_deleted == false %>
            <table class="table table-borderless">
              <tr>
                <td class="col-1"><%= image_tag join.artist_user.profile_image, class: "dm-box-image" %></td>
                <td class="align-middle col-3">
                  <%= link_to profile_artist_artist_user_path(join.artist_user.id), class: "text-white border-bottom" do %>
                    <%= join.artist_user.artist_name %>
                  <% end %>
                </td>
                <td class="align-middle col-4">
                  <!--メッセージが存在するか判断-->
                  <% if Message.find_by(id: join.room.message_ids.last)&.content.present? %>
                    <%= link_to rooms_artist_artist_users_path(join.room), class: "text-white dm-index-content-box" do %>
                      <%= Message.find_by(id: join.room.message_ids.last)&.content %>
                    <% end %>
                  <!--存在しない場合のテキスト表示-->
                  <% else %>
                    <span class="text-white-50">表示できるメッセージがありません。</span>
                  <% end %>
                </td>
                <td class="text-white text-right align-middle">
                  <!--取得したRoom内での最後のメッセージが存在するかどうかの判断-->
                  <% if Message.find_by(id: join.room.message_ids.last).present? %>
                    <%= Message.find_by(id: join.room.message_ids.last)&.created_at.strftime("%Y-%m-%d %H:%M") %>
                  <% end %>
                </td>
              </tr>
            </table>
          <!--やり取りしているユーザーが退会していた場合の記述（Artist会員、一般会員の両方を含む)-->
          <% elsif join.artist_user.present? && join.artist_user.is_deleted == true || join.public_user.present? && join.public_user.is_deleted == true %>
            <table class="table table-borderless">
              <tr>
                <td class="col-1"><%= image_tag 'profile_no_image.png', class: "dm-box-image" %></td>
                <td class="align-middle col-3">
                  <span class="text-white-50">退会したユーザー</span>
                </td>
                <td class="align-middle col-4">
                  <%= link_to rooms_artist_artist_users_path(join.room), class: "text-white-50 dm-index-content-box" do %>
                    <%= Message.find_by(id: join.room.message_ids.last)&.content %>
                  <% end %>
                </td>
                <td class="text-white-50 text-right align-middle">
                  <!--取得したRoom内での最後のメッセージが存在するかどうかの判断-->
                  <% if Message.find_by(id: join.room.message_ids.last).present? %>
                    <%= Message.find_by(id: join.room.message_ids.last)&.created_at.strftime("%Y-%m-%d %H:%M") %>
                  <% end %>
                </td>
              </tr>
            </table>
          <% end %>
        <% end %>
      </div>
      <% else %>
        <p class="text-white mt-3">メッセージはありません。</p>
      <% end %>

      <!--ページネーションの表示-->
      <div class="col-md-12 d-flex justify-content-center mt-5">
        <div>
          <%= paginate @another_joins %>
        </div>
      </div>

    </div>
  </div>
</div>