<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto mt-4">
      <h4 class="text-white">Artist会員 一覧</h4>
    </div>

    <!--Artist会員絞り込み検索フォームの設置-->
    <div class="search-form p-3 mx-auto col-md-10">
      <%= form_with(scope: :search, url: search_admin_artist_users_path, method: :get, local: true) do |f| %>
        <div class="field">
          <%= f.label :artist_name, "アーティスト名", class: "text-white col-2" %>
          <%= f.text_field :artist_name, value: @search_params[:artist_name], placeholder: 'Search' %>
        </div>
        <div class="field">
          <%= f.label :genre_id, "ジャンル選択", class: "text-white col-2" %>
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, selected: @search_params[:genre_id], include_blank: t('helpers.select.全て')) %>
        </div>
        <div class="field">
          <%= f.label :activity_location, "エリアを選択", class: "text-white col-2" %>
          <%= f.select :activity_location, ArtistUser.activity_locations_i18n.invert, selected: @search_params[:activity_location], include_blank: t('helpers.select.全て') %>
          <div class="text-center">
            <%= f.submit "検索", class: "btn btn-success btn-green col-5" %>
          </div>
        </div>
      <% end %>
    </div>

    <!--ジャンルを指定した場合のテキスト表示-->
    <% if params[:genre_id].present? %>
      <div class="col-md-10 mx-auto mt-4">
        <p class="text-info">ジャンル "<%= @genre.name %>" を設定しているArtist会員</p>
      </div>

    <!--ジャンル設定が未設定のArtistUserを指定し、表示させる場合のテキスト表示-->
    <% elsif params[:genre_nil].present? %>
      <div class="col-md-10 mx-auto mt-4">
        <p class="text-info">ジャンル登録が " <%= @search_display %> " のArtist会員</p>
      </div>
    <% end %>
    <div class="col-md-10 mt-3 mx-auto">
      <!--Artist会員の一覧をテーブルで表示-->
      <table class="table table-hover table-borderless text-white">
        <thead class="border-bottom">
          <tr>
            <th>会員ID</th>
            <th>アーティスト名</th>
            <th>代表者氏名</th>
            <th>ジャンル</th>
            <th>メールアドレス</th>
            <th class="text-right">Topics</th>
            <th class="text-center">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @artist_users.each do |artist_user| %>
          <tr>
            <td>
              <span class="text-white"><%= artist_user.id %></span>
            </td>
            <td>
              <%= link_to artist_user.artist_name, admin_artist_user_path(artist_user.id), class: "text-white border-bottom" %>
            </td>
            <td>
              <span class="text-white"><%= artist_user.rep_name %></span>
            </td>
            <td>
              <!--取得したArtistUserがジャンルを登録していた場合の表示-->
              <% if artist_user.genre.present? %>
                <!--取得したジャンルでArtistUserを検索できるようリンクを設置-->
                <%= form_tag admin_artist_users_path do %>
                  <%= link_to admin_artist_users_path(genre_id: artist_user.genre.id), class: "border-bottom" do %>
                    <span class="text-white"><%= artist_user.genre.name %></span>
                  <% end %>
                <% end %>

              <!--取得したArtistUserがジャンル登録をしていない場合の表示-->
              <% else %>
                <!--ジャンル設定が未設定(genre_id = nil)のArtistUserを検索できるようリンクを設置-->
                <%= form_tag admin_artist_users_path do %>
                  <%= link_to admin_artist_users_path(genre_nil: 0), class: "border-bottom" do %>
                    <span class="text-white-50">未設定</span>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td>
              <span class="text-white"><%= artist_user.email %></span>
            </td>
            <!-- Topicsの投稿数を表示させ、クリックでアーティストを指定したTopics一覧を表示できるようリンクを設置-->
            <%= form_tag admin_topics_path, method: :get do %>
              <td class="text-right"><%= link_to artist_user.topics.count, admin_topics_path(artist_id: artist_user.id), class: "text-white border-bottom" %></td>
            <% end %>
            <td class="text-center">
              <% if artist_user.is_deleted == false %>
              <span class="text-success"><strong>有効</strong></span>
              <% else %>
              <span class="text-danger"><strong>退会</strong></span>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>