<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto mt-4 d-flex align-items-center">
      <!--Artist会員のプロフィールイメージと、アーティスト名を表示-->
      <%= image_tag @artist_user.get_profile_image, class: "dedail-page-profile-image" %>
      <span class="text-white h4 ml-3"><%= @artist_user.artist_name %>さんの会員詳細</span>
    </div>

    <div class="col-md-10 mt-3 mx-auto box p-4">
      <div class="row text-white">
        <!--会員のIDを表示-->
        <div class="col-md-3">
          <p>会員ID</p>
        </div>
        <div class="col-md-9">
          <%= @artist_user.id %>
        </div>

        <!--アーティスト名の表示-->
        <div class="col-md-3">
          <p>アーティスト名</p>
        </div>
        <div class="col-md-9">
          <%= @artist_user.artist_name %>
        </div>

        <!--代表者氏名の表示-->
        <div class="col-md-3">
          <p>代表者氏名</p>
        </div>
        <div class="col-md-9">
          <%= @artist_user.rep_name %>
        </div>

        <!--代表者氏名フリガナの表示-->
        <div class="col-md-3">
          <p>代表者氏名フリガナ</p>
        </div>
        <div class="col-md-9">
          <%= @artist_user.rep_name_kana %>
        </div>

        <!--登録ジャンルの表示-->
        <div class="col-md-3">
          <p>ジャンル名</p>
        </div>
        <div class="col-md-9">
          <%= @artist_user.genre.name %>
        </div>

        <!--出身地の表示-->
        <div class="col-md-3">
          <p>出身</p>
        </div>
        <div class="col-md-9">
          <%= @artist_user.activity_location_i18n %>
        </div>

        <!--メールアドレスの表示-->
        <div class="col-md-3">
          <p>メールアドレス</p>
        </div>
        <div class="col-md-9">
          <%= @artist_user.email %>
        </div>

        <!--プロフィールに登録しているyoutubeのURLの表示-->
        <div class="col-md-3">
          <p>Youtube URL</p>
        </div>
        <div class="col-md-9">
          <%= @artist_user.youtube_url %>
        </div>

        <!--会員ステータスの表示-->
        <div class="col-md-3">
          <p>会員ステータス</p>
        </div>
        <div class="col-md-9">
          <% if @artist_user.is_deleted == false %>
          <!--退会していなければ"有効"と表示-->
          <span class="text-success"><strong>有効</strong></span>
          <% else %>
          <!--退会していれば"退会"と表示-->
          <span class="text-danger"><strong>退会</strong></span>
          <% end %>
        </div>
        <div class="col-md-3 col-form-label">
        </div>

        <!--会員情報編集ページへのボタンを設置-->
        <div class="col-md-9 col-form-label">
          <%= link_to "編集する", edit_admin_artist_user_path(@artist_user.id), class: "btn btn-success btn-follow col-md-3" %>
        </div>
      </div>
    </div>
  </div>
</div>