<div class="container-fluid main-visual">
  <div class="row">
    <div class="col-md-12 main-visual-text-box text-center">
      <h1 class="text-white"><strong>お気に入りのArtistを探そう。</strong></h1>
      <h1 class="text-white"><strong>Artist活動を発信しよう。</strong></h1>
    </div>
    <!--Artist会員、一般会員、管理者がログインしていない場合に表示-->
    <% unless artist_user_signed_in? || public_user_signed_in? || admin_signed_in? %>
      <div class="col-md-12 button-field text-center">
        <%= link_to "一般会員登録はこちら",new_public_user_registration_path, class: "btn btn-info top-public-sign-up-button button-font-big px-5 mx-5" %>
        <%= link_to "Artist会員登録はこちら",new_artist_user_registration_path, class: "btn btn-info top-artist-sign-up-button button-font-big px-5 mx-5" %>
      </div>
      <div class="col-md-12 button-field text-center mt-5">
        <%= link_to "一般 ゲストログイン",public_users_guest_sign_in_path, method: :post, class: "btn btn-sm btn-info top-public-sign-up-button px-5 mx-5" %>
        <%= link_to "Artist ゲストログイン",artist_users_guest_sign_in_path, method: :post, class: "btn btn-sm btn-info top-artist-sign-up-button px-5 mx-5" %>
      </div>
    <% end %>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="col-md-6 text-center mx-auto">
      <h4 class="text-white border-bottom text-center">Popular Artists</h4>
    </div>

    <div class="col-md-12">
      <!--取得したfollowerの多いArtistを表示（３件）-->
      <div class="row d-flex justify-content-center mt-2">
        <%= render 'artist/artist_users/artists_list', artist_users: @popular_artist_users %>
      </div>
    </div>

    <div class="col-md-6 text-center mx-auto mt-3">
      <h4 class="text-white border-bottom text-center">New Artists</h4>
    </div>

    <div class="col-md-12">
      <!--取得したArtistを表示（最新３件）-->
      <div class="row d-flex justify-content-center mt-2">
        <%= render 'artist/artist_users/artists_list', artist_users: @artist_users %>
      </div>
    </div>

    <div class="col-md-12 text-center mt-3">
      <!--ログインユーザーがArtist会員の場合-->
      <% if artist_user_signed_in? %>
        <%= link_to "Artist一覧ページへ", artist_artist_users_path, class: "btn btn-green btn-info px-5" %>
      <!--ログインユーザーが一般会員、または、非ログイン時の場合-->
      <% else %>
        <%= link_to "Artist一覧ページへ", public_artist_users_path, class: "btn btn-green btn-info px-5" %>
      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6 text-center mx-auto">
      <h4 class="text-white border-bottom">Popular Topics</h4>
    </div>

    <!--いいね数の多いトピックス一覧の表示（3件）-->
    <div class="col-md-12 mt-2">
      <%= render 'artist/topics/topic_list', topics: @popular_topics %>
    </div>

    <div class="col-md-6 text-center mx-auto mt-3">
      <h4 class="text-white border-bottom">New Topics</h4>
    </div>

    <!--トピックス一覧の表示（最新3件）-->
    <div class="col-md-12 mt-2">
      <%= render 'artist/topics/topic_list', topics: @topics %>
    </div>

    <div class="col-md-12 text-center mt-3">
      <!--ログインユーザーがArtist会員の場合-->
      <% if artist_user_signed_in? %>
        <%= link_to "Topics一覧ページへ", artist_topics_path, class: "btn btn-green btn-info px-5" %>
      <!--ログインユーザーが一般会員、または、非ログイン時の場合-->
      <% else %>
        <%= link_to "Topics一覧ページへ", public_topics_path, class: "btn btn-green btn-info px-5" %>
      <% end %>
    </div>
  </div>
</div>