<div class="container-fluid main-visual" style="background-image: url('<%= asset_path("main-visual-image.jpg") %>');">
  <div class="row">
    <div class="col-md-12 main-visual-text-box text-center">
      <h1 class="text-white"><strong>お気に入りのArtistを探そう。</strong></h1>
      <h1 class="text-white"><strong>Artist活動を発信しよう。</strong></h1>
    </div>
    <% unless artist_user_signed_in? || public_user_signed_in? || admin_signed_in? %>
      <div class="col-md-12 button-field text-center">
        <%= link_to "一般会員登録はこちら",new_public_user_registration_path, class: "btn btn-info top-public-sign-up-button button-font-big px-5 mx-5" %>
        <%= link_to "Artist会員登録はこちら",new_artist_user_registration_path, class: "btn btn-info top-artist-sign-up-button button-font-big px-5 mx-5" %>
      </div>
      <div class="col-md-12 button-field text-center mt-5">
        <%= link_to "一般 ゲストログイン",public_users_guest_sign_in_path, method: :post, class: "btn btn-sm btn-info top-public-sign-up-button px-5 mx-5" %>
        <%= link_to "Artist ゲストログイン",artist_users_guest_sign_in_path, method: :post, class: "btn btn-sm btn-info top-artist-sign-up-button px-5 mx-5" %>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-white border-bottom text-center">New Artists</h4>
      <div class="text-right">
        <% if artist_user_signed_in? %>
          <%= link_to "Artist一覧へ", artist_artist_users_path, class: "text-white border-bottom" %>
        <% else %>
          <%= link_to "Artist一覧へ", public_artist_users_path, class: "text-white border-bottom" %>
        <% end %>
      </div>
    </div>

    <div class="row d-flex justify-content-center mx-auto">
    <% @artist_users.each do |artist| %>
      <div class="col-md-3 m-3 mini-profile-box">
          <div class="row">
            <div class="col-md-12 mini-profile-header-box">
              <%= image_tag artist.get_header_image, class: "mini-profile-header" %>
            </div>
            <div class="col-md-12 text-center">
              <div class=""><%= image_tag artist.get_profile_image, class: "mini-profile-box-image rounded-circle"; %></div>
            </div>
            <div class="mini-profile-detail col-md-12">
              <% if artist_user_signed_in? %>
                <div class="col-md-12 text-center">
                  <%= link_to profile_artist_artist_user_path(artist.id) , class: "text-white" do %>
                    <%= artist.artist_name %>
                  <% end %>
                </div>
              <% else %>
                <div class="col-md-12 text-center">
                  <%= link_to profile_public_artist_user_path(artist.id) , class: "text-white" do %>
                    <%= artist.artist_name %>
                  <% end %>
                </div>
              <% end %>
              <div class="col-md-12 text-center">
                <% if artist.genre.present? %>
                  <span class="text-white">Genre: <%= artist.genre.name %></span><br>
                <% else %>
                  <span class="text-white">Genre: 未設定</span><br>
                <% end %>
                <span class="text-white"><%= artist.activity_location_i18n %></span>
                <div class="follow-detail-display">
                  <p>Follower：<%= artist.artist_reverse_of_relationships.follower_count %></p>
                </div>
              </div>
              <div class="introduction-box">
                <div class="col-md-12 text-white introduction-box-detail">
                  <% if artist.introduction.present? %>
                    <p><%= simple_format artist.introduction %></p>
                  <% else %>
                    <p class="m-3 text-center">自己紹介文は登録されてません.</p>
                  <% end %>
                </div>
              </div>
              <% if artist_user_signed_in? && current_artist_user.id != artist.id %>
                <div class="col-md-12 text-center mt-3">
                  <% if current_artist_user.artist_following?(artist) %>
                    <%= link_to "- Unfollow", artist_artist_user_relationships_path(artist.id), method: :delete, class: "btn btn-red btn-danger btn-lg" %>
                  <% else %>
                    <%= link_to "+ Follow", artist_artist_user_relationships_path(artist.id), method: :post, class: "btn btn-follow btn-success btn-lg" %>
                  <% end %>
                </div>
              <% elsif public_user_signed_in? %>
                <div class="col-md-12 text-center mt-3">
                  <% if current_public_user.artist_following?(artist) %>
                    <%= link_to "- Unfollow", public_artist_user_relationships_path(artist.id), method: :delete, class: "btn btn-red btn-danger btn-lg" %>
                  <% else %>
                    <%= link_to "+ Follow", public_artist_user_relationships_path(artist.id), method: :post, class: "btn btn-follow btn-success btn-lg" %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
       </div>
    <% end %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6 text-center mx-auto">
      <h4 class="text-white border-bottom">New Topics</h4>
      <div class="text-right">
        <% if artist_user_signed_in? %>
          <%= link_to "Topics一覧へ", artist_topics_path, class: "text-white border-bottom" %>
        <% else %>
          <%= link_to "Topics一覧へ", public_topics_path, class: "text-white border-bottom" %>
        <% end %>
      </div>
    </div>

    <!--トピックス一覧の表示（最新3件）-->
    <%= render 'artist/topics/topic_list', topics: @topics %>
  </div>
</div>