<!--取得したArtist情報を表示-->
<div class="profile-box-header">
  <%= image_tag artist_user.get_header_image, class: "profile_box_header_image" %>
</div>
<div class="col-lg-3 artist-detail-box">
  <div class="text-center"><%= image_tag artist_user.get_profile_image, class: "profile-box-image rounded-circle"; %></div>
  <div class="mt-3 text-center">
    <div class="col-lg-12">
      <h1 class="text-white"><%= artist_user.artist_name %></h1>
    </div>
    <div class="col-lg-12 mt-3">
      <span class="text-white">From: <%= artist_user.activity_location_i18n %></span>
    </div>
    <div class="col-lg-12">
      <!--取得したArtistがジャンルを設定しているかどうかを判断-->
      <% if artist_user.genre.present? %>
        <span class="text-white">Genre: <%= artist_user.genre.name %></span>
      <% else %>
        <!--ジャンル設定をしていない場合の表示-->
        <span class="text-white">Genre: 未設定</span>
      <% end %>
      <div class="follow-detail-display" id="follower-count-a-<%= artist_user.id %>">
        <p>Follower：<%= artist_user.artist_reverse_of_relationships.follower_count %></p>
      </div>
    </div>

    <!--取得したArtist会員のIDが、ログイン中のArtist会員のIDと一致する場合に設定ボタンを表示する(Artist会員がログインしている場合)-->
    <div class="col-lg-12 mt-3">
      <% if artist_user_signed_in? && current_artist_user.id == artist_user.id %>
        <%= link_to "Profile設定", profile_edit_artist_artist_user_path(artist_user), class: "btn btn-sm btn-green btn-success px-3" %>
      <% end %>
    </div>

    <!--取得したArtist会員のIDが、ログイン中のArtist会員のIDと一致しない場合にフォローボタンを表示する。(Artist会員がログインしている場合)-->
    <% if artist_user_signed_in? && current_artist_user.id != artist_user.id %>
    <div class="col-lg-12 mt-3" id="follow-ajax-a-<%= artist_user.id %>">
      <!--対象をフォローしているかを判断-->
      <% if current_artist_user.artist_following?(artist_user) %>
        <%= render 'artist/relationships/artist_unfollow_button', artist: artist_user %>
      <% else %>
        <%= render 'artist/relationships/artist_follow_button', artist: artist_user %>
      <% end %>
    </div>
    <!--ログインしているユーザーが一般会員の場合の表示-->
    <% elsif public_user_signed_in? %>
    <div class="col-lg-12 mt-3" id="follow-ajax-a-<%= artist_user.id %>">
      <!--対象をフォローしているかを判断-->
      <% if current_public_user.artist_following?(artist_user) %>
        <%= render 'public/relationships/artist_unfollow_button', artist: artist_user %>
      <% else %>
        <%= render 'public/relationships/artist_follow_button', artist: artist_user %>
      <% end %>
    </div>
    <% end %>

    <div id="dm-button">
      <%= render 'artist/relationships/artist_dm_button', artist_user: @artist_user, isRoom: @isRoom, roomId: @roomId, room: @room, join: @join %>
    </div>

  </div>

  <div class="col-lg-12 mt-3">
    <!--取得したArtist会員の自己紹介文を表示-->
    <span class="text-white"><%= simple_format artist_user.introduction %></span>
  </div>

</div>
<!--Artistプロフィールページのメニューバーの表示-->
<div class="col-lg-9 p-5">
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav justify-content-center border-bottom">
        <!--ログインユーザーがArtist会員の場合のリンク-->
        <% if artist_user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Profile", profile_artist_artist_user_path(artist_user), class: "nav-link text-light h5" %>
          </li>
          <li class="nav-item">
            <%= link_to "Topics", artist_artist_user_profile_topics_path(artist_user), class: "nav-link text-light h5" %>
          </li>
          <li class="nav-item">
            <%= link_to "Live Schedule", artist_artist_user_live_schedules_path(artist_user), class: "nav-link text-light h5" %>
          </li>
          <li class="nav-item">
            <%= link_to "Items", artist_artist_user_items_path(artist_user), class: "nav-link text-light h5" %>
          </li>
        <!--ログインユーザーが一般会員の場合のリンク-->
        <% else %>
          <li class="nav-item">
            <%= link_to "Profile", profile_public_artist_user_path(artist_user), class: "nav-link text-light h5" %>
          </li>
          <li class="nav-item">
            <%= link_to "Topics", public_artist_user_profile_topics_path(artist_user), class: "nav-link text-light h5" %>
          </li>
          <li class="nav-item">
            <%= link_to "Live Schedule", public_artist_user_live_schedules_path(artist_user), class: "nav-link text-light h5" %>
          </li>
          <li class="nav-item">
            <%= link_to "Items", public_artist_user_items_path(artist_user), class: "nav-link text-light h5" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>