<div class="profile-box-header">
  <%= image_tag artist_user.get_header_image, class: "profile_box_header_image" %>
</div>
<div class="col-lg-3 text-center artist-detail-box">
  <div><%= image_tag artist_user.get_profile_image, class: "profile-box-image rounded-circle"; %></div>
  <div class="mt-3">
    <div class="col-lg-12">
      <h1 class="text-white"><%= artist_user.artist_name %></h1>
    </div>
    <div class="col-lg-12 mt-3">
      <span class="text-white">From: <%= artist_user.activity_location_i18n %></span>
    </div>
    <div class="col-lg-12">
      <span class="text-white">Genre: <%= artist_user.genre.name %></span>
    </div>
    <div class="col-lg-12 mt-3">
      <span class="text-white"><%= simple_format artist_user.introduction %></span>
    </div>

    <% if artist_user_signed_in? && current_artist_user.id != artist_user.id %>
    <div class="col-lg-12 mt-3">
      <% if current_artist_user.artist_following?(artist_user) %>
        <%= link_to "- Unfollow", artist_artist_user_relationships_path(artist_user.id), method: :delete, class: "btn btn-red btn-danger btn-lg" %>
      <% else %>
        <%= link_to "+ Follow", artist_artist_user_relationships_path(artist_user.id), method: :post, class: "btn btn-follow btn-success btn-lg" %>
      <% end %>
    </div>
    <% elsif public_user_signed_in? %>
    <div class="col-lg-12 mt-3">
      <% if current_public_user.artist_following?(artist_user) %>
        <%= link_to "- Unfollow", public_artist_user_relationships_path(artist_user.id), method: :delete, class: "btn btn-red btn-danger btn-lg" %>
      <% else %>
        <%= link_to "+ Follow", public_artist_user_relationships_path(artist_user.id), method: :post, class: "btn btn-follow btn-success btn-lg" %>
      <% end %>
    </div>
    <% end %>

    <div class="col-lg-12 mt-3">
      <% if artist_user_signed_in? && current_artist_user.id == artist_user.id %>
        <%= link_to "Profile設定", profile_edit_artist_artist_user_path(artist_user) %>
      <% end %>
    </div>

    <% unless artist_user.id == current_artist_user.id %>
      <% if current_artist_user.artist_following?(artist_user) %>
      <% if @isRoom == true %>
        <%= link_to "Message roomへ", rooms_artist_artist_users_path(@roomId) %>
      <% else %>
        <%= form_with model: @room, url: rooms_create_artist_artist_users_path do |f| %>
          <%= fields_for @join do |j| %>
            <%= j.hidden_field :artist_user_id, value: artist_user.id %>
          <% end %>
          <%= f.submit "Messageを送る", class: "btn btn-success btn-green" %>
        <% end %>
      <% end %>
      <% end %>
    <% end %>

  </div>
</div>
<div class="col-lg-9 p-5">
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav justify-content-center border-bottom">
        <% if artist_user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Topics", artist_artist_user_profile_topics_path(artist_user), class: "nav-link text-white h5" %>
          </li>
          <li class="nav-item">
            <%= link_to "Live Schedule", artist_artist_user_live_schedules_path(artist_user), class: "nav-link text-white h5" %>
          </li>
          <li class="nav-item">
            <%= link_to "Items", artist_artist_user_items_path(artist_user), class: "nav-link text-white h5" %>
          </li>
        <% elsif public_user_signed_in? %>
           <li class="nav-item">
            <%= link_to "Topics", public_artist_user_profile_topics_path(artist_user), class: "nav-link text-white h5" %>
          </li>
          <li class="nav-item">
            <%= link_to "Live Schedule", public_artist_user_live_schedules_path(artist_user), class: "nav-link text-white h5" %>
          </li>
          <li class="nav-item">
            <%= link_to "Items", public_artist_user_items_path(artist_user), class: "nav-link text-white h5" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>