<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Profileの設定</h3>
    </div>
  </div>
  <%= form_with model: @artist_user, url: profile_update_artist_artist_user_path do |f| %>
  <div class="row">
    <div class="col-md-12 col-form-label">
      <%= f.label :header_image, "ヘッダー画像" %>
      <%= f.file_field :header_image, accept: "image/*", class: "ml-5" %>
    </div>
    <div class="col-md-12 col-form-label">
      <%= f.label :introduction, "自己紹介文" %>
      <%= f.text_area :introduction, class: "ml-5" %>
    </div>
    <div class="col-md-12 col-form-label">
      <%= f.label :youtube_url, "YoutubeのURL" %>
      <%= f.text_field :youtube_url %>
    </div>
    <%= f.submit '設定を完了する', class: "ml-5 btn btn-success btn-follow btn-lg px-3" %>
  </div>
  <% end %>
</div>