<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto mt-4">
      <div>
        <span class="h4 text-white">Topics</span>
      </div>

      <div class="row mt-3">
        <div class="topic-box">
          <div class="col-md-12">
            <div class="d-flex pt-4">
              <!--Artist会員のprofile画像を表示-->
              <%= image_tag @topic.artist_user.profile_image, class: "topic-profile-image ml-2" %>
              <!--Artist会員のアーティスト名を表示、クリックでArtist詳細画面に遷移させるため、リンクを設置-->
              <div class="d-flex align-items-center ml-5">
                <%= link_to admin_artist_user_path(@topic.artist_user_id) do %>
                  <h3 class="text-white"><%= @topic.artist_user.artist_name %></h3>
                <% end %>
              </div>
            </div>
          </div>

          <!--Topic投稿データにyoutubeリンクが登録されていた場合にiframeを表示-->
          <% if @topic.youtube_url.present? %>
            <div class="col-md-12 mt-3">
              <div class="topic-youtube-box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @topic.youtube_url.last(11) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          <% end %>

          <!--Topic投稿データに画像が登録されていた場合に画像データを表示-->
          <% if @topic.topic_image.present? %>
            <div class="col-md-12 text-center mt-3">
              <%= image_tag @topic.topic_image, class: "topic-image" %>
            </div>
          <% end %>

          <!--Topicの本文-->
          <div class="col-md-12 text-center mt-3">
            <%= simple_format @topic.body, class: "text-white" %>
          </div>

          <!--トピックスに紐づいているタグを表示、クリックでタグ検索できるようボタンで表示-->
          <% if @topic.tags.present? %>
          <div class="col-md-10 mx-auto d-flex">
            <% @topic.tags.each do |tag| %>
              <%= link_to admin_tag_topics_path(tag.id) do %>
              <div class="tags px-2 m-1">
                <p class="text-white"><%= tag.name %></p>
              </div>
              <% end %>
            <% end %>
          </div>
          <% end %>

          <div class="col-md-10 mx-auto pl-5 border-bottom mb-3 d-flex justify-content-between">
            <!--投稿日の表示-->
            <p class="text-white"><%= @topic.created_at.strftime('%Y/%m/%d %H:%M') %></p>
            <div class="d-flex">
              <!--トピックスに画像が投稿されていた場合のアイコン表示-->
              <% if @topic.topic_image.present? %>
                <p class="text-white mr-5"><i class="far fa-image"></i></p>
              <% end %>

              <!--トピックスにyoutubeのリンクが投稿されていた場合のアイコン表示-->
              <% if @topic.youtube_url.present? %>
                <p class="text-white mr-5"><i class="fab fa-youtube"></i></p>
              <% end %>

              <!--いいね数の表示-->
              <p class="text-white ml-2"><i class="far fa-heart"></i> <%= @topic.favorites.count %></p>

              <!--Topicに紐づくコメントの数を表示-->
              <div class="ml-5">
                <p class="text-white"><i class="far fa-comment-dots"></i> <%= @topic.topic_comments.count %></p>
              </div>
            </div>
          </div>

          <!--削除ボタンを表示-->
          <div class="flex-fill text-right mr-4 pb-2">
            <%= link_to "削除", admin_topic_path(@topic), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-red btn-danger px-5" %>
          </div>

        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-12 text-white">
          <!--コメント数の表示-->
          <h5>Comments (<%= @topic.topic_comments.count %>)</h5>
        </div>
      </div>

      <!--コメントの表示-->
      <div class="row">
        <div class="col-md-12 topic-comment-box pb-3">
          <% if @topic.topic_comments.present? %>
            <% @topic.topic_comments.each do |topic_comment| %>
              <div class="text-white border-bottom">
                <div class="d-flex pt-3 pl-3 pr-3">
                  <!--topic_commentに紐づいているidが一般会員の場合のコメント表示(public_user)-->
                  <% if topic_comment.public_user_id.present? %>
                    <div class="ml-2">
                      <!--プロフィール画像を表示-->
                      <%= image_tag topic_comment.public_user.get_profile_image, class: "comment-profile-image" %>
                    </div>
                    <div class="ml-5 flex-fill">
                      <!--ニックネームを表示させ、一般会員詳細画面へ遷移するリンクを設置-->
                      <%= link_to admin_public_user_path(topic_comment.public_user.id) do %>
                        <span class="text-white mini-artist-name box p-1"><%= topic_comment.public_user.nickname %></span>
                      <% end %>
                      <!--コメントの本文を表示-->
                      <p><%= simple_format topic_comment.comment %></p>

                      <div class="d-flex justify-content-end">
                        <!--コメント投稿日時を表示-->
                        <span class="mr-5"><%= topic_comment.created_at.strftime('%Y/%m/%d') %></span>
                        <!--削除ボタンを設置-->
                        <%= link_to "削除", admin_topic_topic_comment_path(topic_comment.topic, topic_comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-red btn-sm px-3" %>
                      </div>
                    </div>

                  <!--topic_commentに紐づいているidがアーティスト会員の場合のコメント表示(artist_user)-->
                  <% elsif topic_comment.artist_user_id.present? %>
                    <div class="ml-2">
                      <!--プロフィール画像を表示-->
                      <%= image_tag topic_comment.artist_user.get_profile_image, class: "comment-profile-image" %>
                    </div>
                    <div class="ml-5 flex-fill">
                      <!--トピック投稿者本人の場合のコメント表示-->
                      <% if topic_comment.artist_user_id == @topic.artist_user_id %>
                        <!--アーティスト名を表示させ、Artist会員詳細画面へ遷移するリンクを設置-->
                        <%= link_to admin_artist_user_path(topic_comment.artist_user.id) do %>
                          <span class="text-white mini-artist-name box-2 p-1"><%= topic_comment.artist_user.artist_name %> <i class="fas fa-music"></i></span>
                        <% end %>
                        <span class="text-white-50 mini-artist-name">(投稿者)</span>

                      <!--トピックス投稿者本人ではない場合-->
                      <% else %>
                        <!--アーティスト名を表示させ、Artist会員詳細画面へ遷移するリンクを設置-->
                        <%= link_to admin_artist_user_path(topic_comment.artist_user.id) do %>
                          <span class="text-white mini-artist-name box p-1"><%= topic_comment.artist_user.artist_name %> <i class="fas fa-music"></i></span>
                        <% end %>
                      <% end %>
                      <!--コメント本文の表示-->
                      <p class="mt-2"><%= simple_format topic_comment.comment %></p>

                      <div class="d-flex justify-content-end">
                        <!--コメント投稿日時を表示-->
                        <span class="mr-5"><%= topic_comment.created_at.strftime('%Y/%m/%d') %></span>
                        <!--削除ボタンを設置-->
                        <%= link_to "削除", admin_topic_topic_comment_path(topic_comment.topic, topic_comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-red btn-sm px-3" %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <!--コメントが投稿されていない場合の表示-->
          <% else %>
            <div class="mt-3 text-center">
              <span class="text-white">コメントは投稿されていません。</span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>