<div class="row mt-5 d-flex justify-content-center">
  <div class="col-md-8 current-user-box text-center py-3">
    <% if artist_user_signed_in? %>
      <div>
        <%= image_tag artist_user.get_profile_image, class: "my-page-box-image" %>
      </div>
      <div class="text-white mt-3">
        <%= artist_user.artist_name %>
      </div>
      <div class="d-flex align-items-center justify-content-center follow-detail-display">
        <p class="mr-3">フォロー中</p>
        <%= link_to artist_artist_user_followings_path(artist_user), class: "text-white" do %>
          <%= artist_user.artist_relationships.count %>
        <% end %>
      </div>
      <div class="d-flex align-items-center justify-content-center follow-detail-display">
        <p class="mr-3">フォロワー</p>
        <%= link_to artist_artist_user_followers_path(artist_user), class: "text-white" do %>
          <%= artist_user.artist_reverse_of_relationships.count %>
        <% end %>
      </div>
    <% elsif public_user_signed_in? %>
      <div>
      <%= image_tag public_user.get_profile_image, class: "my-page-box-image" %>
      </div>
      <div class="text-white mt-3">
        <%= public_user.nickname %>
      </div>
      <div class="d-flex align-items-center justify-content-center follow-detail-display">
        <p class="mr-3">フォロー中</p>
        <%= link_to public_public_user_followings_path(public_user), class: "text-white" do %>
          <%= public_user.public_relationships.count %>
        <% end %>
      </div>
      <div class="d-flex align-items-center justify-content-center follow-detail-display">
        <p class="mr-3">フォロワー</p>
        <%= link_to public_public_user_followers_path(public_user), class: "text-white" do %>
          <%= public_user.public_reverse_of_relationships.count %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-md-8 tag-list-box mt-3 p-2 d-flex flex-wrap">
      <div class="col-md-12 text-center mb-2 pb-2 border-bottom">
        <span class="text-white">Tags</span>
      </div>

      <% tag_lists.each do |tag_list| %>
        <% if artist_user_signed_in? %>
          <%= link_to artist_tag_topics_path(tag_list.id) do %>
            <div class="tags px-2 m-1">
              <p class="text-white"><%= tag_list.name %><%="(#{tag_list.topics.count})" %></p>
            </div>
          <% end %>
        <% else %>
          <%= link_to public_tag_topics_path(tag_list.id) do %>
            <div class="tags px-2 m-1">
              <p class="text-white"><%= tag_list.name %><%="(#{tag_list.topics.count})" %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
