<div class="col-md-12">
  <div class="row">
    <% if artist_user_signed_in? %>
    <!--アーティストユーザー用検索フォームの設置-->
    <div class="col-md-12">
      <%= form_with url: search_artist_topics_path, method: :get do |f| %>
      <div class="d-flex justify-content-end">
        <%= f.text_field :keyword, value: keyword, placeholder: 'Search', class: "col-8"%>
        <%= f.submit "検索", class: "btn btn-primary btn-green ml-2"%>
      </div>
      <% end %>
    </div>

    <!--一般ユーザー用検索フォームの設置-->
    <% else %>
    <div class="col-md-12">
      <%= form_with url: search_public_topics_path, method: :get do |f| %>
      <div class="d-flex justify-content-end">
        <%= f.text_field :keyword, value: keyword, placeholder: 'Search', class: "col-8"%>
        <%= f.submit "検索", class: "btn btn-primary btn-green ml-2"%>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>