<!--トピックス詳細ページ-->
<div class="row">
  <div class="topic-box">
    <div class="col-md-12">
      <div class="d-flex pt-4">
        <!--Artist会員のprofile画像を表示-->
        <%= image_tag topic.artist_user.profile_image, class: "topic-profile-image ml-2" %>

        <!--Topicに紐づく会員のprofileページに遷移するリンクをartist_nameで表示-->
          <div class="d-flex align-items-center ml-5">
            <!--アーティストユーザー用-->
            <% if artist_user_signed_in? %>
              <%= link_to profile_artist_artist_user_path(topic.artist_user_id) do %>
              <h3 class="text-white"><%= topic.artist_user.artist_name %></h3>
              <% end %>

            <!--一般会員用-->
            <% else %>
              <%= link_to profile_public_artist_user_path(topic.artist_user_id) do %>
              <h3 class="text-white"><%= topic.artist_user.artist_name %></h3>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>

    <!--Topic投稿データにyoutubeリンクが登録されていた場合にiframeを表示-->
    <% if topic.youtube_url.present? %>
      <div class="col-md-12 mt-3">
        <div class="topic-youtube-box">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= topic.youtube_url.last(11) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    <% end %>

    <!--Topic投稿データに画像が登録されていた場合に画像データを表示-->
    <% if topic.topic_image.present? %>
      <div class="col-md-12 text-center mt-3">
        <%= image_tag topic.topic_image, class: "topic-image" %>
      </div>
    <% end %>

    <!--Topicの本文-->
    <div class="col-md-12 text-center mt-3">
      <%= simple_format topic.body, class: "text-white" %>
    </div>

    <!--トピックスに紐づいているタグを表示、クリックでタグ検索できるようボタンで表示-->
    <% if topic.tags.present? %>
    <div class="col-md-10 mx-auto d-flex">
      <% topic.tags.each do |tag| %>
      <!--アーティストユーザー用-->
        <% if artist_user_signed_in? %>
          <%= link_to artist_tag_topics_path(tag.id) do %>
          <div class="tags px-2 m-1">
            <p class="text-white"><%= tag.name %></p>
          </div>
          <% end %>

      <!--一般会員用-->
        <% else %>
          <%= link_to public_tag_topics_path(tag.id) do %>
          <div class="tags px-2 m-1">
            <p class="text-white"><%= tag.name %></p>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% end %>

    <div class="col-md-10 mx-auto pl-5 border-bottom mb-3 d-flex justify-content-between">
      <!--投稿日の表示-->
      <p class="text-white"><%= topic.created_at.strftime('%Y/%m/%d %H:%M') %></p>
      <div class="d-flex">
        <!--トピックスに画像が投稿されていた場合のアイコン表示-->
        <% if topic.topic_image.present? %>
          <p class="text-white mr-5"><i class="far fa-image"></i></p>
        <% end %>

        <!--トピックスにyoutubeのリンクが投稿されていた場合のアイコン表示-->
        <% if topic.youtube_url.present? %>
          <p class="text-white mr-5"><i class="fab fa-youtube"></i></p>
        <% end %>

        <!--アーティストユーザー用いいねボタンの表示-->
        <div id="topic-favorite-<%= topic.id %>">
          <% if artist_user_signed_in? %>
            <% if topic.artist_user_favorited_by?(current_artist_user) %>
              <%= render 'artist/favorites/favorites_unlike_button', topic: @topic %>
            <% else %>
              <%= render 'artist/favorites/favorites_like_button', topic: @topic %>
            <% end %>

            <!--一般会員用いいねボタンの表示-->
          <% elsif public_user_signed_in? %>
            <% if topic.public_user_favorited_by?(current_public_user) %>
              <%= render 'public/favorites/favorites_unlike_button', topic: @topic %>
            <% else %>
              <%= render 'public/favorites/favorites_like_button', topic: @topic %>
            <% end %>

          <!--ログイン無しの、閲覧のみの場合-->
          <% else %>
              <span class="text-white"><i class="far fa-heart"></i></span>
              <span class="text-white ml-2"><%= topic.favorites.count %></span>
          <% end %>
        </div>
        <!--Topicに紐づくコメントの数を表示-->
        <div class="ml-5">
          <p class="text-white"><i class="far fa-comment-dots"></i> <%= topic.topic_comments.comments_count %></p>
        </div>
      </div>
    </div>

    <!--投稿したArtist会員のidと、ログインしているArtist会員のidが一致している場合に”編集”、”削除”ボタンを表示-->
    <% if artist_user_signed_in? && topic.artist_user_id == current_artist_user.id %>
      <div class="flex-fill text-right mr-4 pb-2">
        <%= link_to "編集", edit_artist_topic_path(topic), class: "btn btn-follow btn-success px-5 mr-3" %>
        <%= link_to "削除", artist_topic_path(topic), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-red btn-danger px-5" %>
      </div>
    <% end %>
  </div>
</div>

