<!--コメント一覧詳細ページ-->
<div class="row mt-5">
  <div class="col-md-12 text-white">
    <h5>Comments (<%= topic_comments.comments_count %>)</h5>
  </div>
</div>

<!--コメントの表示-->
<div class="row">
  <div class="col-md-12 topic-comment-box pb-3">
    <% topic_comments.each do |topic_comment| %>
      <!--topic_commentに紐づいているidが一般会員の場合のコメント表示(public_user)、かつ、退会していないユーザー-->
      <% if topic_comment.public_user_id.present? && topic_comment.public_user.is_deleted == false %>
      <div class="text-white border-bottom">
        <div class="d-flex pt-3 pl-3 pr-3">
          <div class="ml-2">
            <!--プロフィール画像を表示-->
            <%= image_tag topic_comment.public_user.get_profile_image, class: "comment-profile-image" %>
          </div>
          <div class="ml-5 flex-fill">
            <!--ニックネームを表示させ、一般会員詳細画面へ遷移するリンクを設置-->
            <!--ログインユーザーがArtist会員の場合-->
            <% if artist_user_signed_in? %>
              <%= link_to artist_public_user_path(topic_comment.public_user) do %>
                <span class="text-white mini-artist-name box p-1"><%= topic_comment.public_user.nickname %></span>
              <% end %>
            <!--ログインユーザーが一般会員の場合-->
            <% elsif public_user_signed_in? %>
              <!--コメント投稿者本人の場合Mypageへ遷移する-->
              <% if topic_comment.public_user == current_public_user %>
                <%= link_to my_page_public_public_users_path do %>
                  <span class="text-white mini-artist-name box p-1"><%= topic_comment.public_user.nickname %></span>
                <% end %>
              <!--コメント投稿本人ではない場合は対象のプロフィールページへ-->
              <% else %>
                <%= link_to public_public_user_profile_path(topic_comment.public_user) do %>
                  <span class="text-white mini-artist-name box p-1"><%= topic_comment.public_user.nickname %></span>
                <% end %>
              <% end %>
            <!--ログイン無しで、閲覧のみの場合-->
            <% else %>
              <span class="text-white mini-artist-name box p-1"><%= topic_comment.public_user.nickname %></span>
            <% end %>
            <!--コメントの本文を表示-->
            <p><%= simple_format topic_comment.comment %></p>
            <div class="d-flex justify-content-end">
              <!--コメント投稿本人の場合に削除ボタンを表示-->
              <% if topic_comment.public_user == current_public_user %>
                <%= link_to "削除", public_topic_topic_comment_path(topic_comment.topic, topic_comment), method: :delete, class: "btn btn-danger btn-red btn-sm px-3 mr-3" %>
              <% end %>
              <!--コメントの投稿された日付を表示-->
              <span><%= topic_comment.created_at.strftime('%Y/%m/%d') %></span>
            </div>
          </div>
        </div>
      </div>
      <!--topic_commentに紐づいているidがアーティスト会員の場合のコメント表示(artist_user)、かつ、退会していないユーザー-->
      <% elsif topic_comment.artist_user_id.present? && topic_comment.artist_user.is_deleted == false %>
      <div class="text-white border-bottom">
        <div class="d-flex pt-3 pl-3 pr-3">
          <div class="ml-2">
            <!--プロフィール画像を表示-->
            <%= image_tag topic_comment.artist_user.get_profile_image, class: "comment-profile-image" %>
          </div>
          <div class="ml-5 flex-fill">
            <!--トピック投稿者本人の場合のコメント表示-->
            <% if topic_comment.artist_user_id == topic.artist_user_id %>
              <!--アーティスト名を表示させ、Artistプロフィール画面へ遷移するリンクを設置-->
              <% if artist_user_signed_in? %>
                <%= link_to profile_artist_artist_user_path(topic_comment.artist_user) do %>
                  <span class="text-white mini-artist-name box-2 p-1"><%= topic_comment.artist_user.artist_name %> <i class="fas fa-music"></i></span>
                <% end %>
              <% else %>
                <%= link_to profile_public_artist_user_path(topic_comment.artist_user) do %>
                  <span class="text-white mini-artist-name box-2 p-1"><%= topic_comment.artist_user.artist_name %> <i class="fas fa-music"></i></span>
                <% end %>
              <% end %>
              <span class="text-white-50 mini-artist-name">(投稿者)</span>

            <!--トピックス投稿者本人ではない場合-->
            <% else %>
              <!--アーティスト名を表示させ、Artistプロフィール画面へ遷移するリンクを設置-->
              <% if artist_user_signed_in? %>
                <%= link_to profile_artist_artist_user_path(topic_comment.artist_user) do %>
                  <span class="text-white mini-artist-name box p-1"><%= topic_comment.artist_user.artist_name %> <i class="fas fa-music"></i></span>
                <% end %>
              <% else %>
                <%= link_to profile_public_artist_user_path(topic_comment.artist_user) do %>
                  <span class="text-white mini-artist-name box p-1"><%= topic_comment.artist_user.artist_name %> <i class="fas fa-music"></i></span>
                <% end %>
              <% end %>
            <% end %>

            <!--コメント本文の表示-->
            <p><%= simple_format topic_comment.comment %></p>

            <div class="d-flex justify-content-end">
              <!--コメント投稿者本人の場合に削除ボタンを表示-->
              <% if topic_comment.artist_user == current_artist_user %>
                <%= link_to "削除", artist_topic_topic_comment_path(topic_comment.topic, topic_comment), method: :delete, class: "btn btn-danger btn-red btn-sm px-3 mr-3" %>
              <% end %>
              <!--コメント投稿日時を表示-->
              <span><%= topic_comment.created_at.strftime('%Y/%m/%d') %></span>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
    <!--コメントが投稿されていない場合の表示-->
    <% if topic.topic_comments.comments_count == 0 %>
      <div class="mt-3 text-center">
        <span class="text-white">コメントは投稿されていません。</span>
      </div>
    <% end %>
  </div>
</div>

<!--コメント投稿フォーム-->
<div class="row">
  <div class="col-md-12 comment-form-box mt-3 p-3">
    <!--ログインしているのが一般会員の場合(public_user)-->
    <% if public_user_signed_in? %>
      <%= form_with model: topic_comment, url: public_topic_topic_comments_path(topic), method: :post do |f| %>
      <div class="text-center">
        <%= f.text_area :comment, placeholder: "コメントをここに", class: "col-md-7" %>
      </div>
      <div class="text-center">
        <%= f.submit "送信する", class: "btn btn-success btn-follow" %>
      </div>
      <% end %>

    <!--ログインしているのがアーティスト会員の場合(artist_user)-->
    <% elsif artist_user_signed_in? %>
      <%= form_with model: topic_comment, url: artist_topic_topic_comments_path(topic), method: :post do |f| %>
      <div class="text-center">
        <%= f.text_area :comment, placeholder: "コメントをここに", class: "col-md-7" %>
      </div>
      <div class="text-center">
        <%= f.submit "送信する", class: "btn btn-success btn-follow" %>
      </div>
      <% end %>

    <% else %>
      <div class="text-center">
        <span class="text-white">コメントは会員登録後にできるようになります。</span>
      </div>
    <% end %>
  </div>
</div>