<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto mt-4 d-flex align-items-center">
      <h3 class="text-white">Topic 投稿フォーム</h3>
    </div>
  </div>

  <div class="col-md-10 mt-3 mx-auto box p-5">

    <!--エラーメッセージの表示-->
    <% if @topic.errors.any? %>
    <div class="text-warning box py-2 mb-3 px-5">
      <% @topic.errors.full_messages.each do |message| %>
        <span><%= message %></span><br>
      <% end %>
    </div>
    <% end %>

    <!--トピック投稿フォーム-->
    <%= form_with model: @topic, url: artist_topics_path(current_artist_user.id) do |f| %>
    <!--トピック本文フォーム-->
    <div class="form-group row">
      <div class="col-md-2">
        <%= f.label :body, "本文", class: "col-form-label text-white" %>
      </div>
      <div class="col-md-9">
        <%= f.text_area :body, rows: "6", class: "form-control col-7" %>
      </div>
    </div>

    <!--タグ付けフォーム-->
    <div class="form-group row pt-3">
      <div class="col-md-2">
        <%= f.label :name, "タグ付け", class: "col-form-label text-white" %>
      </div>
      <div class="col-md-9">
        <p class="col-form-label text-white">スペースを入れて入力することで複数のタグ付けが可能です。</p>
        <%= f.text_field :name, placeholder: "例：Live　新曲　 MV　（半角、全角どちらも可）", class: "form-control col-7" %>
      </div>
    </div>

    <!--Topic画像フォーム-->
    <div class="form-group row pt-3">
      <div class="col-md-2">
        <%= f.label :topic_image, "画像", class: "col-form-label text-white" %>
      </div>
      <div class="col-md-9">
        <%= f.file_field :topic_image, accept: "image/*", class: "col-6 form-control-sm text-white" %>
      </div>
    </div>

    <!--youtube URLフォーム-->
    <div class="form-group row pt-3">
      <div class="col-md-2">
        <%= f.label :youtube_url, "Youtube共有リンク", class: "col-form-label text-white" %>
      </div>
      <div class="col-md-9">
        <%= f.text_field :youtube_url, placeholder: "https://youtu.be/", class: "form-control col-7" %>
      </div>
    </div>

    <!--登録ボタン-->
    <div class="form-group row pt-3">
      <div class="col-md-2">
      </div>
      <div class="col-md-9">
        <%= f.submit '投稿する', class: "btn btn-primary btn-green btn-lg px-5" %>
      </div>
    </div>
    <% end %>
  </div>
</div>