<div class="container">
  <div class="row">
    <div class="col-md-12 text-white">
      <h3>Topics</h3>
    </div>
  </div>

  <div class="row topic-box pt-4">
    <div class="col-md-12">
      <div class="d-flex">
        <!--Artist会員のprofile画像を表示-->
        <%= image_tag @topic.artist_user.profile_image, class: "topic-profile-image ml-2" %>

        <!--Topicに紐づく会員のprofileページに遷移するリンクをartist_nameで表示-->
          <div class="d-flex align-items-center ml-5">
            <%= link_to profile_artist_artist_user_path(@topic.artist_user_id) do %>
            <h3 class="text-white"><%= @topic.artist_user.artist_name %></h3>
            <% end %>
          </div>
      </div>
    </div>

    <!--Topic投稿データにyoutubeリンクが登録されていた場合にiframeを表示-->
    <% if @topic.youtube_url.present? %>
      <div class="col-md-12 mt-3">
        <div class="topic-youtube-box">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @topic.youtube_url.last(11) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    <% end %>

    <!--Topic投稿データに画像が登録されていた場合に画像データを表示-->
    <% if @topic.topic_image.present? %>
      <div class="col-md-12 text-center mt-3">
        <%= image_tag @topic.topic_image, class: "topic-image" %>
      </div>
    <% end %>

    <!--Topicの本文-->
    <div class="col-md-12 text-center mt-3">
      <%= simple_format @topic.body, class: "text-white" %>
    </div>

    <!--投稿したArtist会員のidと、ログインしているArtist会員のidが一致している場合に”編集”、”削除”ボタンを表示-->
    <% if @topic.artist_user_id == current_artist_user.id %>
      <div class="flex-fill text-right mr-4 pb-2">
        <%= link_to "編集", edit_artist_topic_path(@topic), class: "btn btn-follow btn-success mr-3" %>
        <%= link_to "削除", artist_topic_path(@topic), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-follow btn-success" %>
      </div>
    <% end %>
  </div>
</div>