<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto mt-4">
      <div>
        <p class="text-white h4">ジャンル管理</p>
      </div>

      <div class="mt-3 pb-2">
        <%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
        <div class="d-flex">
          <%= f.label :name, 'ジャンルを追加',class: "col-form-label text-white mr-5" %>
          <%= f.text_field :name, class: "form-control col-3" %>
          <%= f.submit '新規作成', class: "btn btn-green btn-success px-3" %>
        </div>
        <% end %>
      </div>

      <div class="mt-3">
        <table class="table table-borderless table-hover text-white">
          <thead class="border-bottom">
            <tr>
              <th>ジャンルID</th>
              <th>ジャンル名</th>
              <th class="text-right">登録Artist数</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span class="text-white">0</span>
              </td>
              <td>
                <span class="text-white-50">未設定</span>
              </td>
              <td class="text-right">
                <%= form_tag admin_artist_users_path do %>
                  <%= link_to admin_artist_users_path(genre_nil: 0), class: "border-bottom" do %>
                    <span class="text-white"><%= @genre_nil_artist_users.count %></span>
                  <% end %>
                <% end %>
              </td>
              <td></td>
            </tr>
            <% @genres.each do |genre| %>
            <tr>
              <td>
                <span class="text-white"><%= genre.id %></span>
              </td>
              <td>
                <span class="text-white"><%= genre.name %></span>
              </td>
              <td class="text-right">
                <%= form_tag admin_artist_users_path do %>
                  <%= link_to admin_artist_users_path(genre_id: genre.id), class: "border-bottom" do %>
                    <span class="text-white"><%= genre.artist_users.count %></span>
                  <% end %>
                <% end %>
              </td>
              <td class="text-right">
                <%= link_to '編集', edit_admin_genre_path(genre.id), class: "btn btn-success btn-follow btn-sm px-3 mr-3" %>
                <%= link_to '削除', admin_genre_path(genre.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-sm btn-red px-3 mr-3" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>