<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto mt-4">
      <div>
        <p class="text-white h4">タグ管理</p>
      </div>

      <% if params[:topics_nil].present? %>
      <div class="mt-3">
        <p class="text-info">関連Topics無しのタグを表示</p>
      </div>
      <% end %>

      <div class="mt-3">
        <table class="table table-sm table-borderless table-hover text-white">
          <thead class="border-bottom">
            <tr>
              <th>タグID</th>
              <th>タグ名</th>
              <th class="text-right">関連Topics</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @tags.each do |tag| %>
            <tr>
              <td>
                <span class="text-white"><%= tag.id %></span>
              </td>
              <td>
                <span class="text-white"><%= tag.name %></span>
              </td>
              <td class="text-right">
                <%= link_to admin_tag_topics_path(tag.id) do %>
                  <span class="text-white border-bottom"><%= tag.topics.count %></span>
                <% end %>
              </td>
              <td class="text-right">
                <%= link_to '削除', admin_tag_path(tag.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-sm btn-red px-3 mr-3" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>