<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3 d-flex">
      <%= render 'artist/artist_users/my_page', artist_user: @artist_user %>
    </div>

    <div class="col-lg-9">
      <div>
        <h3 class="text-white">Followings</h3>
      </div>

      <% if @followings.present? %>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
          <% @followings.each do |following| %>
            <% if following.artist_followed_id.present? && following.artist_followed.is_deleted == false %>

              <div class="col-md-3 m-3 mini-profile-box">
                <div class="row">
                  <div class="col-md-12 mini-profile-header-box">
                    <%= image_tag following.artist_followed.get_header_image, class: "mini-profile-header" %>
                  </div>
                  <div class="col-md-12 text-center">
                    <div class=""><%= image_tag following.artist_followed.get_profile_image, class: "mini-profile-box-image rounded-circle"; %></div>
                  </div>
                  <div class="mini-profile-detail col-md-12">
                    <div class="col-md-12 text-center">
                      <%= link_to profile_artist_artist_user_path(following.artist_followed.id) , class: "text-white" do %>
                        <%= following.artist_followed.artist_name %>
                      <% end %>
                    </div>
                    <div class="col-md-12 text-center">
                      <% if following.artist_followed.genre.present? %>
                        <span class="text-white">Genre: <%= following.artist_followed.genre.name %></span><br>
                      <% else %>
                        <span class="text-white">Genre: 未設定</span><br>
                      <% end %>

                      <span class="text-white"><%= following.artist_followed.activity_location_i18n %></span>
                      <div class="follow-detail-display">
                        <p>Follower：<%= following.artist_followed.artist_reverse_of_relationships.follower_count %></p>
                      </div>
                    </div>
                    <div class="introduction-box">
                      <div class="col-md-12 text-center text-white introduction-box-detail">
                        <% if following.artist_followed.introduction.present? %>
                          <p><%= simple_format following.artist_followed.introduction %></p>
                        <% else %>
                          <p class="m-3">自己紹介文は登録されてません.</p>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-md-12 text-center mt-3">
                      <% if current_artist_user.artist_following?(following.artist_followed) %>
                        <%= link_to "- Unfollow", artist_artist_user_relationships_path(following.artist_followed.id), method: :delete, class: "btn btn-red btn-danger btn-lg" %>
                      <% else %>
                        <%= link_to "+ Follow", artist_artist_user_relationships_path(following.artist_followed.id), method: :post, class: "btn btn-follow btn-success btn-lg" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

            <% elsif following.public_followed_id.present? && following.public_followed.is_deleted == false %>

              <div class="col-md-3 m-3 mini-profile-box">
                <div class="row">
                  <div class="col-md-12 mini-profile-header">

                  </div>
                  <div class="col-md-12 text-center">
                    <div class=""><%= image_tag following.public_followed.get_profile_image, class: "mini-profile-box-image rounded-circle"; %></div>
                  </div>
                  <div class="mini-profile-detail col-md-12">
                    <div class="col-md-12 text-center">
                      <%= link_to artist_public_user_path(following.public_followed.id) , class: "text-white" do %>
                        <%= following.public_followed.nickname %>
                      <% end %>
                    </div>
                    <div class="follow-detail-display text-center">
                      <p>Follower：<%= following.public_followed.public_reverse_of_relationships.follower_count %></p>
                    </div>
                    <div class="col-md-12 text-center">
                      <span class="text-white"></span></span>
                    </div>
                    <div class="introduction-box-2">
                      <div class="col-md-12 text-center text-white introduction-box-detail">
                        <% if following.public_followed.introduction.present? %>
                          <p><%= simple_format following.public_followed.introduction %></p>
                        <% else %>
                          <p class="m-3">自己紹介文は登録されてません.</p>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-md-12 text-center mt-3">
                      <% if current_artist_user.public_following?(following.public_followed) %>
                        <%= link_to "- Unfollow", artist_public_user_relationships_path(following.public_followed.id), method: :delete, class: "btn btn-red btn-danger btn-lg" %>
                      <% else %>
                        <%= link_to "+ Follow", artist_public_user_relationships_path(following.public_followed.id), method: :post, class: "btn btn-follow btn-success btn-lg" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          </div>
        </div>

        <div class="col-md-10 d-flex justify-content-center mt-5">
          <div>
            <%= paginate @followings %>
          </div>
        </div>
      </div>
      <% else %>
        <p class="text-white mt-3">フォロー中のユーザーはいません。</p>
      <% end %>
    </div>
  </div>
</div>
