<!--一般会員のプロフィールページを-->
<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3 d-flex">
      <div class="my-page-profile-box text-center p-3 mt-5 mx-auto">
        <div>
          <!--プロフィール画像を表示-->
          <%= image_tag @public_user.get_profile_image, class: "my-page-box-image" %>
        </div>
        <div class="text-white mt-3 border-bottom">
          <!--ニックネームを表示-->
          <h4><%= @public_user.nickname %></h4>
          <div>
            <!--対象が自己紹介文を設定しているか判断-->
            <% if @public_user.introduction.present? %>
              <%= simple_format @public_user.introduction %>
            <!--未設定の場合の表示-->
            <% else %>
              自己紹介文は登録されてません。
            <% end %>
          </div>
        </div>
        <div class="mt-4" id="follow-ajax-p-<%= @public_user.id %>">
          <!--Artist会員がログインしていて、対象をフォローしているかどうかを判断-->
          <% if artist_user_signed_in? && current_artist_user.public_following?(@public_user) %>
            <%= render 'artist/relationships/public_unfollow_button', public_user: @public_user %>
          <% else %>
            <%= render 'artist/relationships/public_follow_button', public_user: @public_user %>
          <% end %>
        </div>

        <div class="mt-3" id="dm-button">
          <%= render 'artist/relationships/public_dm_button', public_user: @public_user, isRoom: @isRoom, roomId: @roomId, room: @room, join: @join %>
        </div>
      </div>
    </div>
  </div>
</div>
