<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto mt-4 d-flex align-items-cente">
      <h3 class="text-white">Live Schedule 編集</h3>
    </div>
  </div>

  <div class="col-md-10 mt-3 mx-auto box p-5">

    <!--フラッシュメッセージの表示-->
    <% if @live_schedule.errors.any? %>
    <div class="text-white box py-2 mb-3 px-5">
      <span class="text-warning"><%= @live_schedule.errors.count %>件の空欄が存在します。</span><br>
      <% @live_schedule.errors.full_messages.each do |message| %>
        <span><%= message %></span><br>
      <% end %>
    </div>
    <% end %>

    <!--Live Schedule編集フォーム-->
    <%= form_with model: @live_schedule, url: artist_artist_user_live_schedule_path(current_artist_user.id) do |f| %>
      <!--イベント名フォーム-->
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label :name, "イベント名", class: "col-form-label text-white" %>
        </div>
        <div class="col-md-9">
          <%= f.text_field :name, class: "form-control col-4" %>
        </div>
      </div>

      <!--開催場所入力フォーム-->
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label :location, "開催場所", class: "col-form-label text-white" %>
        </div>
        <div class="col-md-9">
          <%= f.text_field :location, class: "form-control col-4" %>
        </div>
      </div>

      <!--開催日時フォーム-->
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label :schedule_date, "開催日時", class: "col-form-label text-white" %>
        </div>
        <div class="col-md-9">
          <%= f.datetime_field :schedule_date, class: "form-control col-4" %>
        </div>
      </div>

      <!--チケット価格フォーム-->
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label :price, "チケット価格", class: "col-form-label text-white" %>
        </div>
        <div class="col-md-9">
          <%= f.text_field :price, class: "form-control col-4" %>
        </div>
      </div>

      <!--スケジュール登録ボタン-->
      <div class="form-group row pt-3">
        <div class="col-md-3 text-center"></div>
        <div class="col-md-9">
          <%= f.submit "Live Scheduleを編集", class: "btn btn-success btn-follow col-4" %>
        </div>
      </div>
    <% end %>
  </div>
</div>