<div class="container">
  <div class="row">
    <div class="col-md-6 text-white">
      <h3>Item 編集</h3>
    </div>
  </div>
  <%= form_with model: @item, url: artist_artist_user_item_path(current_artist_user.id, @item.id) do |f| %>
  <div class="row text-white">
    <div class="col-md-12 col-form-label">
      <%= f.label :item_image, "Item画像" %>
      <%= f.file_field :item_image, class: "ml-5" %>
    </div>
    <div class="col-md-12 col-form-label">
      <%= f.label :name, "Item名" %>
      <%= f.text_field :name, class: "ml-5" %>
    </div>
    <div class="col-md-12 col-form-label">
      <%= f.label :introduction, "Item説明" %>
      <%= f.text_field :introduction %>
    </div>
    <div class="col-md-12 col-form-label">
      <%= f.label :price, "Item価格" %>
      <%= f.text_field :price %>
    </div>

    <%= f.submit '編集内容を保存', class: "ml-5 btn btn-success btn-follow btn-lg px-3" %>
  </div>
  <% end %>
</div>