<div class="container">
  <div class="row">
    <div class="col-md-12 text-white">
      <h3><span class="h1 mr-5"><%= @artist_user.artist_name %></span> Items</h3>
    </div>
    <% if @artist_user.id == current_artist_user.id %>
    <div class="col-md-12 text-white">
      <%= link_to "Itemを追加する", new_artist_artist_user_item_path(@artist_user) %>
    </div>
    <% end %>
    <div class="row">
      <% @items.each do |item| %>
      <div class="col-md-3 item-box m-3">
        <div class="row text-white">
          <div class="col-md-12 text-center mt-3">
            <%= image_tag item.item_image, class: "item-image-box" %>
          </div>
          <div class="col-md-12 text-center mt-3">
            <h4><%= item.name %></h4>
          </div>
          <div class="col-md-12">
            <%= item.introduction %>
          </div>
          <div class="col-md-12 text-right">
            ¥<%= item.price.to_s(:delimited) %>
          </div>
          <% if @artist_user.id == current_artist_user.id %>
          <div class="col-md-12 text-right mt-4">
            <%= link_to "編集", edit_artist_artist_user_item_path(@artist_user, item), class: "btn btn-follow btn-success" %>
            <%= link_to "削除", artist_artist_user_item_path(@artist_user, item), method: :delete, class: "btn btn-follow btn-success ml-3" %>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>