<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto mt-4 d-flex align-items-center">
      <h3 class="text-white">Item 登録</h3>
    </div>
  </div>

  <div class="col-md-10 mt-3 mx-auto box p-5">
    <!--Item登録フォーム-->
    <%= form_with model: @item, url: artist_artist_user_items_path(current_artist_user.id) do |f| %>
    <!--Item画像フォーム-->
    <div class="form-group row">
      <div class="col-md-2">
        <%= f.label :item_image, "Item画像", class: "col-form-label text-white" %>
      </div>
      <div class="col-md-9">
        <%= f.file_field :item_image, accept: "image/*", class: "col-6 form-control-sm text-white" %>
      </div>
    </div>

    <!--アイテム名フォーム-->
    <div class="form-group row">
      <div class="col-md-2">
        <%= f.label :name, "Item名", class: "col-form-label text-white" %>
      </div>
      <div class="col-md-9">
        <%= f.text_field :name, class: "form-control col-4" %>
      </div>
    </div>

    <!--Item説明-->
    <div class="form-group row">
      <div class="col-md-2">
        <%= f.label :introduction, "Item説明", class: "col-form-label text-white" %>
      </div>
      <div class="col-md-9">
        <%= f.text_area :introduction, rows: "4", class: "form-control col-4" %>
      </div>
    </div>

    <!--Item価格フォーム-->
    <div class="form-group row">
      <div class="col-md-2">
        <%= f.label :price, "Item価格", class: "col-form-label text-white" %>
      </div>
      <div class="col-md-9">
        <%= f.text_field :price, class: "form-control col-4" %>
      </div>
    </div>

    <!--登録ボタン-->
    <div class="form-group row">
      <div class="col-md-2">
      </div>
      <div class="col-md-9">
        <%= f.submit 'Itemを登録する', class: "btn btn-success btn-follow btn-lg px-5" %>
      </div>
    </div>
    <% end %>
  </div>
</div>